html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font: Helvetica, sans-serif;
    font-size: 14.5px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


img {
    width: 290px;
    height: 102px;
    margin-top: 190px;
    margin-bottom: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 282px;
}



.leaf {
    width: 0.7%;
    height: 14px;
    /* text-align: center; */
    position: absolute;
    bottom: -5px;
    /* left: 747px; */

}

a {
    text-decoration: none;
    color: black;
}


 .headernav {
    display: flex;
    /* justify-content: space-evenly; */
    color: black;
    list-style-type: none;
    height: 60px;
    padding-top: 20px;
}

.topleftbuttons {
    display: grid;
    grid-template-columns: 50px 50px;
    margin-right: 1100px;
    padding-left: 30px;
    padding-top: 6.5px;

    
}

.toprightbuttons {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    position: absolute;
    top: 26px;
    right: 40px;    
}

.dots {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -5px;
    right: 85px;
    fill: rgb(95, 95, 95);
}


.signin {
    all: revert;
    color: #ffffff;
    background-color: #1a73e8;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 96px;
    height: 36px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.signcolor {
    color: white;
}

.searchband {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 540px;
    height: 42px;
    border-radius: 30px;
    border: 1px solid rgb(223, 223, 223);
    margin-top: 15px;
    outline: none;
    font-size: 20px;
    background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23cccccc%22%20class%3D%22glass%22%20focusable%3D%22false%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27A6.471%206.471%200%200%200%2016%209.5%206.5%206.5%200%201%200%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: bottom -13px left 15px;
}


input:hover {
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 0 11px rgb(228, 228, 228);
}

.color {
    color:rgb(214, 214, 214,);
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;  
} 

.buttonbox {
    background-color: #f8f9fa;
    width: 1350x;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #202124;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.buttonbox:hover {
    border: 1px solid rgb(230, 230, 230);
    z-index: 2;
}

.searchbotcol {
    color: rgb(75, 77, 73);
}

.space {
    width: 1620px;
    height: 343px;
}

.bottomleft {
    position: fixed;
    left: 0px;
    bottom: 0;
    padding-bottom: 20px;
    padding: 15px;
}

.botcotleft {
    color: rgb(114, 114, 114);
}

.carboncenter {
    text-align: center;
    padding-bottom: 20px;
    padding: 15px; 
}

.carboncolor {
    color:rgb(114, 114, 114);
    margin-left: 15px;
}

.bottomright {
    position: fixed;
    right: 0px;
    bottom: 0;
    padding-bottom: 20px;
    padding: 15px; 
}

.leftli {
    list-style-type: none;
    display: inline-block;
    margin-left: 1px;
    padding-left: 20px;
}

.leftli:hover {
    text-decoration: underline;
}

.rightli { 
    padding-top: 40px;
    padding-right: 20px;
    list-style-type: none;
    display: inline-block;
    margin-right: 1px;
    margin-top: 20px;
}

.rightli:hover {
    text-decoration: underline;
}

.botrightco {
    color: rgb(114, 114, 114);
}

footer {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0;
}

a:hover {
    text-decoration: underline;
}


/*=====Media Query for Mobile screens  */

@media (max-width: 550px) {
   footer {
       height: 140px;
       position: fixed;
       bottom: 0;
       background-color: rgb(241, 241, 241);
    }

    .leaf {
        width: 10px;
        height: 14px;
        position: absolute;
        bottom: -8px;
    }

    .carboncenter {
        position: absolute;
        bottom: 90px;
        left: 160px;
        text-align: center;
    }

    .bottomleft {
        position: fixed;
        left: 0px;
        bottom: 0;
        padding-bottom: 60px;
        padding-left: 100px;
    }

    .bottomright {
        position: static;
        right: 100px;
        padding-top: 50px;
        padding-left: 172px;
    }

    .search {
        width: 401px;
        height: 44px;
        border-radius: 30px;
    }
}




